.measure-root {
  position: absolute;
  top: -99999px;
  left: 0;
  width: 2.5in;
  height: 3.5in;
  visibility: hidden;
  pointer-events: none;
}

.spellCard {
  font-family: 'Lato', Arial, sans-serif;
  display: inline-block;
  width: 2.5in;
  min-width: 2.5in;
  max-width: 2.5in;
  height: 3.5in;
  max-height: 3.5in;
  background: var(--class-color) !important;
  padding: 0;
  font-size: 10px;
  position: relative;
  margin: 0px;
  vertical-align: top;
  text-align: left;
  z-index: 1;
  margin: 0 1px 1px 0;
}

.spellCard * {
  color: #676a6c !important;
}

.two-sided.spellCard {
  width: 5in;
  min-width: 5in;
}

.spellCard .front,
.spellCard .back {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}

.two-sided.spellCard .front,
.two-sided.spellCard .back {
  width: 50%;
}

.spellCard .front {
  padding: 10px 10px 25px;
  top: 0;
  left: 0;
}

.spellCard .back {
  padding: 10px 10px 10px;
  top: 0;
  left: auto;
  right: 0;
  transform: rotateY(0deg);
}

.spellCard .front .body {
  display: flex;
  flex-flow: column;
  background-color: #fff !important;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
}

.spellCard .front .body .name {
  font-size: 14px;
  line-height: normal;
  padding: 6px 5px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  min-height: 20px;
  font-weight: bold;
}

.spellCard .front .body .name.small {
  font-size: 12px;
}

.spellCard .front .body .status {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.spellCard .front .body .lined {
  border-bottom: 2px solid var(--class-color);
}

.spellCard .front .body .status div {
  padding: 2px 4px;
  float: left;
  vertical-align: top;
  font-size: 9px;
  line-height: 9px;
  min-height: 25px;
  width: 50%;
  margin: 0;
}

.spellCard .front .body .status div.second {
  border-left: 2px solid var(--class-color);
}

.spellCard .front .body .status div em {
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  color: var(--class-color) !important;
  font-weight: bold;
  padding-bottom: 2px;
}

.spellCard .front .body .inset .need {
  color: #fff !important;
  background-color: var(--class-color) !important;
  display: block;
  padding: 2px 4px 4px;
  font-weight: normal;
  font-style: italic;
  line-height: 100%;
  font-size: 8px;
}

.spellCard .front .body .text-container {
  flex-grow: 1;
  overflow-y: hidden;
}

.spellCard .front .body .text {
  padding: 2px 4px 8px;
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 9px;
  margin: 0;
}

.spellCard .front .body .text.small {
  font-size: 9px;
}

.spellCard .front .footer .class {
  position: absolute;
  bottom: 8px;
  color: #fff !important;
  left: 10px;
  font-size: 9px;
  font-weight: normal;
}

.spellCard .front .footer .type {
  position: absolute;
  bottom: 8px;
  color: #fff !important;
  right: 10px;
  font-size: 10px;
  font-weight: normal;
}

.spellCard .back .body {
  background-color: #ededed !important;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  padding: 15px 15px 15px;
}

.spellCard .back .line {
  border-radius: 7px;
  height: 100%;
  width: 100%;
  border: 4px solid var(--class-color);
  overflow: hidden;
  position: relative;
  opacity: 0.8;
}

.spellCard .back .line * {
  box-sizing: content-box;
}

.spellCard .back .level {
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: var(--class-color) !important;
  position: absolute;
}

.spellCard .back .level-1 {
  top: 0px;
  right: 5px;
  text-align: right;
}

.spellCard .back .level-2 {
  bottom: 0px;
  left: 5px;
  text-align: left;
}

.spellCard .back .b-lt {
  transform: rotate(-55deg);
  left: -75%;
  top: 25%;
}

.spellCard .back .b-rt {
  transform: rotate(55deg);
  left: -25%;
  top: 25%;
}

.spellCard .back .b-lb {
  transform: rotate(-55deg);
  left: -25%;
  bottom: 25%;
}

.spellCard .back .b-rb {
  transform: rotate(55deg);
  left: -75%;
  bottom: 25%;
}

.spellCard .back .b-lt,
.spellCard .back .b-rt,
.spellCard .back .b-lb,
.spellCard .back .b-rb {
  border-bottom: 2px solid var(--class-color);
  border-top: 2px solid var(--class-color);
  height: 10px;
  width: 200%;
  position: absolute;
  zoom: 1;
  font-size: 18px;
  line-height: 0px;
  color: var(--class-color) !important;
  margin-top: -21px;
  margin-bottom: -21px;
  z-index: 2;
}

.spellCard .back .b-lt:before,
.spellCard .back .b-rt:before,
.spellCard .back .b-lb:before,
.spellCard .back .b-rb:before {
  font-family: 'rpg-icons';
  display: block;
  width: 100%;
  height: 11px;
  font-size: 13px;
  margin-top: 0;
  font-style: normal;
  overflow: hidden;
  position: relative;
  line-height: 12px;
  color: var(--class-color) !important;
}

.spellCard .back .b-lt:after,
.spellCard .back .b-rt:after,
.spellCard .back .b-lb:after,
.spellCard .back .b-rb:after {
  font-family: 'rpg-icons';
  display: block;
  width: 100%;
  height: 11px;
  font-style: normal;
  font-size: 13px;
  margin-top: 0;
  overflow: hidden;
  position: relative;
  line-height: 12px;
  margin-top: -24px;
  color: var(--class-color) !important;
}

.spellCard .back .b-lb:before,
.spellCard .back .b-rb:before,
.spellCard .back .b-lb:after,
.spellCard .back .b-rb:after {
  transform: rotate(180deg);
}

.spellCard .back .b-lb:before,
.spellCard .back .b-rb:before {
  line-height: 17px;
}

.spellCard .back .b-lb:after,
.spellCard .back .b-rb:after {
  margin-top: 1px;
}

.spellCard .back .icon-mid,
.spellCard .back .icon-top,
.spellCard .back .icon-bot {
  font-family: 'rpg-icons' !important;
  font-size: 100px;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  width: 100%;
  text-align: center;
  font-style: normal;
  color: var(--class-color) !important;
  height: 150px;
  line-height: 150px;
}

.spellCard .back .icon-top {
  font-size: 50px;
  top: 12%;
  height: auto;
  line-height: 100%;
  margin: 0;
}

.spellCard .back .icon-bot {
  font-size: 50px;
  top: auto;
  bottom: 12%;
  height: auto;
  line-height: 100%;
  margin: 0;
}

.back .icon-top:after {
  content: var(--class-icon-top);
}

.back .icon-mid:after {
  content: var(--class-icon-mid);
}

.back .icon-bot:after {
  content: var(--class-icon-bot);
}
